@media screen and (min-width: 1000px) {
	footer {
		height: 90px;
		width: 100%;
		background: url("../img/background.jpg");
		background-size: cover;

		display: flex;
	}

	footer nav {
		width: 75%;
		height: inherit;
		margin: auto;
	}

	footer nav ul {
		margin: auto;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding-top: 35px;
	}

	footer nav ul li {
		font-size: 24px;
	}

	footer nav ul li a {
		text-decoration: none;
		color: #4f4f4f;
	}

	footer nav ul li:hover a {
		text-decoration: none;
		color: #202020;

		-webkit-transition: 0.2s; /* Safari */
		transition: 0.2s;
	}
}

@media screen and (max-width: 1000px) {
	footer {
		height: 160px;
		width: 100%;
		background: url("../img/background.jpg");
		background-size: cover;

		display: flex;
	}

	footer nav {
		width: 75%;
		height: inherit;
		margin: auto;
	}

	footer nav ul {
		margin: auto;
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding-top: 12px;
	}

	footer nav ul li {
		font-size: 24px;
	}

	footer nav ul li a {
		text-decoration: none;
		color: #4f4f4f;
	}

	footer nav ul li:hover a {
		text-decoration: none;
		color: #202020;

		-webkit-transition: 0.2s; /* Safari */
		transition: 0.2s;
	}
}