    main {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    main .title-center {
        padding-top: 8px;
        padding-left: 15px;
        width: 250px;
    }

    main .title-center h2 {
        font-weight: 600;
        background: rgba(252,214,98,0.44);
        -webkit-transition: 0.2s; /* Safari */
        transition: 0.2s;
        padding: 1px 3px 1px 3px;
    }

    main .title-center h2 span {
        position: relative;
        top: -8px;
        left: -15px;
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
    }


@media screen and (min-width: 1400px) {
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-performance {
        width: 95%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        margin-bottom: 20px;
    }

    .performance-p {
        width: 100%;

        text-align: right;
        font-size: 22px;
        line-height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-confort {
        width: 95%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 20px;
    }

    .confort-p {
        width: 100%;

        text-align: left;
        font-size: 22px;
        line-height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-originalite {
        width: 95%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        margin-bottom: 20px;
    }

    .originalite-p {
        width: 100%;

        text-align: right;
        font-size: 22px;
        line-height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 1400px) {
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-performance {
        width: 80%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .performance-p {
        height: 480px;
        width: 50%;

        text-align: right;
        font-size: 22px;
        line-height: 30px;
        margin-top: 80px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-confort {
        width: 80%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .confort-p {
        height: 480px;
        width: 50%;

        text-align: left;
        font-size: 22px;
        line-height: 30px;
        margin-top: 80px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-originalite {
        width: 80%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .originalite-p {
        height: 480px;
        width: 50%;

        text-align: right;
        font-size: 22px;
        line-height: 30px;
        margin-top: 80px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .img-section{
        width: 100%;
    }
}